@import url('https://fonts.cdnfonts.com/css/sakura-blossom');

body {
	background: radial-gradient(#ffffff, #ffffff, #ffffff, #ffffff, #ffedf2);
}

.container {
	/* padding: 7vw; */
}

.sakura-h1 {
	font-family: 'Sakura Blossom', sans-serif;
	color: rgb(255, 191, 202);
	font-size: 4.5vw;
	text-align: center;
	-webkit-text-stroke: 3px rgb(255, 255, 255) ; 
	/* text-decoration: underline; */
}

.sakura-header {
	font-family: 'Sakura Blossom', sans-serif;
	font-size: 1.5vw;
	text-align: center;
}

.sakura-p {
	font-family: 'Sakura Blossom', sans-serif;
	color: rgb(255, 191, 202);
	font-size: 3vw;
	padding: 1vw;
	background-color: white;
	border-radius: 7px;
	box-shadow: 0 0 50px 25px rgb(255, 255, 255);
}
.tick line {
	visibility: hidden;
}

.timeline {
	background: linear-gradient(
		90deg,
		rgba(255, 246, 246, 1) 0%,
		rgba(255, 255, 255, 1) 35%,
		rgba(255, 255, 255, 1) 50%,
		rgba(255, 255, 255, 1) 65%,
		rgba(255, 246, 246, 1) 100%
	);
	display: flex;
	flex-direction: row;
	/* justify-content: space-around; */
	height: 500px;
	width: 85%;
	border: 5px rgb(255, 247, 247) solid;
}

.play-button {
background: url('./images/sakura-volume-off.png');
background-size: cover;
width: 5.206vw;
height: 4vw;
border: none;
transition: 0.5s;

position: absolute;
right: 5%;
top: 2%;
}

.play-button:hover {
	background-color: white;
	box-shadow: 0 0 20px 20px rgb(255, 255, 255);
}

.pause-button {
background: url('./images/sakura-volume-on.png');
background-size: cover;
width: 5.206vw;
height: 4vw;
border: none;
transition: 0.5s;

position: absolute;
right: 5%;
top: 2%;
}

.pause-button:hover {
	background-color: white;
	box-shadow: 0 0 20px 20px rgb(255, 255, 255);
}

/* Columns */

.left-column {
	display: flex;
	height: 610px;
	flex-direction: column;
	margin-top: -62px;
	margin-left: -55px;
	/* flex: 50%; */
	position: absolute;
}

.center-column {
	flex-direction: column;
	/* margin: auto; */
	flex: 50%;
	position: absolute;
	right: 35vw;
	margin-top: -14px;
	width: 30vw;
	height: auto;
}

.right-column {
	flex-direction: column;
	margin-left: auto;
	/* flex: 50%; */
	position: absolute;
	right: 4.6%;
	height: 610px;
	margin: auto;
	margin-top: -62px;
	
	/* margin-right: 30px; */
	/* justify-self: flex-end; */
	/* align-self: flex-end; */
}
.background {
	position: fixed;
	z-index: -1;
	/* margin: auto; */

	/* margin-left: -250px; */
	/* position: fixed; */
	/* width: 3000%;
	height: 100%; */
	/* height: 100px; */
	/* top: 0px; */
	/* left: 0px;  */
}

.background-support {
	position: fixed;
	width: 100vw;
	height: 100vh;
	border: 5px red solid;
}

.axisPink {
	color: pink;
	background-color: pink;
}


/* Events */

.back-arrow {
	width: 8vw; 
	margin: 1vw; 
	margin-left: 4vw; 
	margin-top: 3vw; 
	transition: 0.5s;
	/* background-color: white;
	box-shadow: 0 0 20px 20px rgb(255, 255, 255); */
}

.back-arrow:hover {
	/* box-shadow: 0 0 20px 20px rgb(255, 227, 232);
	background-color: rgb(255, 227, 232); */
	background-color: white;
	box-shadow: 0 0 20px 20px rgb(255, 255, 255);
}

.overlay {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.477);
	width: 100%;
	height: 100%;
	z-index: -1;
}

.event-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 241, 241, 0.697);
	border-radius: 10px;
	min-height: 100vh;
	margin: 2vw;
	padding: 5vw;
	padding-left: 100px;
}

.event-img {
	width: 15vw;
	height: auto;
	margin: 2vw;
	border: 8px rgb(255, 191, 202) solid;
	border-radius: 7px;
	box-shadow: 0 0 50px 15px rgb(255, 191, 202);
}

.img-box {
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	padding: 3vw;
}