@import url('https://fonts.cdnfonts.com/css/sakura-blossom');

body {
	background: radial-gradient(#ffffff, #ffffff, #ffffff, #ffffff, #ffedf2);
}

.container {
	/* padding: 7vw; */
}

.sakura-h1 {
	font-family: 'Sakura Blossom', sans-serif;
	color: rgb(255, 191, 202);
}

.tick line {
	visibility: hidden;
}
